<!DOCTYPE html>
<html>
<head>
  <title>List a Space | Makers BnB</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="#">Spaces </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Requests </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sign out</a>
  </li>
</ul>



<div class="container center_div" style="margin: 0 30%;width: 80%;" >
 <div class="row">
    <div class="col-md-6 col-centered">
      <h2 class="title" style="text-align: center;"> List Space </h2>

      <form method="post" style="float:left" action="/spaces/new">

      <table>
        <div class="form-group">
          <label for="title">Name</label>
            <input type="text" name="title" class="form-control"/>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="description" rows="5" cols="50" maxlength="500" class="form-control"></textarea>
        </div>

        <div class="form-group">
        <label for="price">Price per night (£) </label>
          <input type="number" name="price" class="form-control" placeholder="£"/>
        </div>
        
          
          <div class="form-group">
            <label for="from_date">Available from (DD/MM/YY)</label>
              <input type="date" name="from_date"  class="form-control" required/>
          </div>
            
          <div class="form-group">
            <label for="to_date">Available to (DD/MM/YY)</label>
              <input type="date" name="to_date" class="form-control" required/>
          </div>
          <div class="text-center">
            <input type='submit' value='List my Space' class="btn btn-default ">
          </div>
      </table>
      </form>         
    </div>
  </div>
</div>
</body>
</html>