<!DOCTYPE html>
<html>
<head>
  <title>Makers BnB</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div id="error"></div>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="#">About </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/sessions/new">Login </a>
  </li>
</ul>
<h1 style="text-align: center;"> Feel at home, anywhere</h1>

<div class="container" style="margin: 3% 35%;width: 55%;" >
 <div class="row">
    <div class="col-md-6 col-centered">
        <h3 style="text-align:center; margin: 15% 0"> Sign up to MakersBnB</h3>
        <p style='<%=@style%>'>Passwords Do Not Match</p>
        <form style="border-style: groove; padding: 5%" action="/sign_up" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email_new_user" aria-describedby="emailHelp" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="passw_new_user_first" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password confirmation</label>
            <input type="password" class="form-control" name="pass_new_user_second" placeholder="Password" required>
        </div>
        <div class="text-center">
            <input type='submit' value='Submit' class="btn btn-default ">
          </div>
        </form>
    </div>
  </div>
</div>




<div id ="message"; style="text-align: center;">
<h3>Password must contain the following:</h3>
  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
  <p id="number" class="invalid">A <b>number</b></p>
  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>



   
