<head>
<style>
div.a { 
  text-align: right;
}
</style>

<div class="a">
<a href="/spaces.asp">Spaces<a/> |
<a href="/requests.asp">Requests<a/> |
<a href="/.asp">Sign out<a/> |
</div>


<style>
div.b {
  background-color: white;
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
}
</style>
</head>


<center>
<h1> Book a Space </h1>
<h3> Looking to rent your space out? Checkout the link below to add your own space </h3>
<button type="button">List a space</button>

<div class="b">
<% @space_list.each do |space| %>
  <li> <%= space %> </li>
<%end%>
</div>
</center>
