<!DOCTYPE html>
<html>

  <head>
  <title> Available Spaces | Makers BnB </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="/spaces">Spaces </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Requests </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>

    <div class="container">
      <div class="col-md-6 col-centered" style="margin: auto 17rem;">
        <h3 class="title" style="text-align: center;"> Book a Space </h3>
        <p style="text-align: center;"> 
          Looking to rent your space out? <br>
          Checkout the link below to add yours! 
          <a class="nav-link" href="/spaces/new">List a space</a>
        </p>
      </div>
    </div>


    <div class="container" style="border-style: groove; padding: 5%">
      <% @space_list.each do |space| %>
        <div class="row" style="border-style: groove; padding: 5%; margin: 5%">
          <h5 class="title" style="text-align: left;"> <%= space.name %> </h5>
          <%= space.description%>
        </div>
      <%end%>
    </div>

  </body>

</html>
