<center>
<h1> Book a Space </h1>
<h3> Looking to rent your space out? Checkout the link below to add your own space </h3>
<button type="button">List a space</button>


<% @result.map { |spaces| spaces['name'] } %>
</center>
