<!DOCTYPE html>
<html>
<head>
  <title>List a Space | Makers BnB</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/spaces">Spaces </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/requests">Requests </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/">Sign out</a>
  </li>
</ul>

<div class="container" style="margin: 5% 25%;width:55%;" >
 <div class="row">
    <div class="col-md-12">
        <center>
            <% @space.each do |space| %>
            <h3><%= space.name %></h3><br>
            <p><%= space.description %></p><br>
            <%end%>
            
            <p style="font-style:oblique;font-weight: bold;"> This space is available:</p>
            <div class="container">
                <div class="row">
                    
                    <div class="col" style="color:gray;">
                       <h5>` From: <%= @availability.first  %> `</h5>
                    </div>
                    <div class="col" style="color:gray;">
                        <h5> ` To: <%= @availability.last  %> `</h5>
                    </div>
                    
                </div>
            </div>
        </center> 
        
            <form method="post" action="#">
                <div class="container" style="margin: 4rem 0">
                    <div class="row">   
                        
                            <div class="col-sm">
                            <label for="date_from">Pick Start Date </label>
                                <input type="date" name="date_to"  class="form-control" required/>
                            </div>

                            <div class="col-sm">
                            <label for="date_from">Pick End Date</label>
                                <input type="date" name="date_to"  class="form-control" required/>
                            </div>
                        
                    </div>
                </div>   
            </form>
        <center style="margin: 2rem 0;">
            <a class="col-2" href="/requests" style="text-align: end;">
                <input type='button' value='Request to Book' class="btn btn-default" >
            </a>
        </center>
        
    </div>  
 </div>  
</div>  
        

      
</body>
</html>

